---
import App from '../components/App.jsx';
import '../styles/global.css'; /* Tailwind'i buraya dahil ettik */
---

<html lang="tr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AstroTech Elektronik</title>
  </head>
  <body>
    <App client:load />
  </body>
</html>