---
import App from '../components/App.jsx';
import '../styles/global.css'; // Bu satırın tam olarak böyle olduğundan emin olun
---

<html lang="tr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Cycke</title>

    
    <meta name="trustpilot-one-time-domain-verification-id" content="c0ad6161-7168-49b4-bfae-a5360dc5aab4"/>
  </head>
  <body>
    <App client:load />
  </body>
</html>